.text-light{
    font-size: 2em;
    font-weight: 300;
    font-style: normal;
    color: var(--color-primary);
}

/*Modelo Tables*/
@media screen and (max-width: 1023px){
    .text-light{
        font-size: 1.5em;
    }
}


/*Modelo Dispositivo Móvel*/
@media screen and (max-width: 767px){
    .text-light{
        font-size: 1em;
    } 
}