@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{

  --bg-primary: #FFFCF8;
  --bg-secondary: #312A28;
  --bg-secondary-hover: #504036;
  --bg-card-projects: #FBFBFB;

  --color-primary: #1B1D1F;
  --color-secondary: #8C7972;
  --color-white: #ffffff;

  font-family: "Ubuntu", sans-serif;
}

body{
  background-color: var(--bg-primary);
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
}