*{
    padding: 0;
    margin: 0;
}

/*Header*/
header{
    background: #0D0D0D;
    height: 3em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
header a{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    padding-right: 20px;
}

/*Início*/

#inicio{
    background-color: #222426;
    height: 30em;
    display: flex;

}

#personagem{
 
    padding-top: 6em;
    padding-left: 2em;
    width: 315px;
    height: 315px;
}

#texto-personagem{
    padding-top: 3em;
    padding-left: 5em;
    align-items: center;
    color: #FFF;
    font-size: 45px;
}
/*Fim incio*/

/*Inicio Sobre*/
#informacoes{
    padding-bottom: 50px;
}

#informacoes h1{
    font-size: 55px;
    text-align: center;
    padding-top: 0.5em;
    
}

#perfil{
    display: inline-block;
    width: 25em;
    height: 25em;
    padding-left: 2em;
    padding-right: 2em;

}

#perfil img{
    border-radius: 100%;
}

#sobre{ 
    
    display: inline-block;
    width: 700px;
    height: 300px;

}

#sobre div{
    color: #000;
}

#sobre div p{
    font-size: 28px;
    color: #000;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

#sobre img{
    width: 45px;
    height: 45px;
    padding-top: 30px;
    padding-left: 15px;
}

/*Fim sobre*/

/*Inicio Tecnologias*/

#tecnologia{
    background: #222426;
    height: 500px;
    text-align: center;
}

#tecnologia h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 50px ;
   padding-top: 50px;
}

#imagem-tecologias{   
    display: flex;
    width: 1028px;
    height: 304px;
    align-items: center;
    justify-content: center;
    gap: 64px 107px;
    flex-wrap: wrap;
    padding-left: 10em;
}


#imagem-tecologias img{
    width: 120px;
    height: 120px;
}

/*Fim tecnologias*/

/*Inicio Porfolio*/
#trabalhos h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.repositorios{
    width:252px;
    height: 252px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    border-color: #374957;
}

#img-portfolio{
    width: 222px;
    padding-left: 15px;
    padding-top: 10px;

}
.titulo-icone img,p{
    display: inline-block;
}

.titulo-icone{
    padding-top: 5px;
}

#textos-portfolio{
    padding-left: 15px;
    padding-top: 10px;
}


#list-repositorios{
    display: flex;
width: 1159px;
justify-content: center;
align-items: center;
align-content: center;
gap: 70px 210px;
flex-wrap: wrap;
}
/*Fim do porfolio*/


/*Inicio Footer*/

footer{
    margin-top: 50px;
    background: #222426;

}

footer div{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
}

#contato{
    padding-left: 3em;
    text-align: center;
    padding-right: 15em;
}

#contato h2{
    color: #FEF4F4;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    padding-bottom: 70px;
}

#contato a{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#contato a:link{
    color: #FEF4F4;
    text-decoration: none;
}
a:visited{
    color: #FEF4F4;
    text-decoration: none;
}

#redes-sociais h2{
    color: #FEF4F4;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
   padding-bottom: 40px;
   text-align: center;
}

#redes-sociais a img{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}
/*Fim footer*/