*{
    padding: 0;
    margin: 0;
    width: 1020px;
}

/*Header*/
header{

    background: #0D0D0D;
    height: 3em;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
header a{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}

/*Início*/

#inicio{
    background-color: #222426;
    height: 30em;
    display: flex;

}

#personagem{
    padding-top: 6em;
    padding-left: 2em;
    width: 215px;
    height: 215px;
}

#texto-personagem{
    padding-top: 3em;
    padding-left: 5em;
    align-items: center;
    color: #FFFFFF;
    font-size: 45px;
}
#texto-personagem p{
    color: #FFFFFF;
}
/*Fim incio*/

/*Inicio Sobre*/
#container{
    display: flex;
    padding: 0 20px 0 20px;
}
#informacoes{
    width: 1020px;
    padding-bottom: 50px;
}

#informacoes h1{
    font-size: 55px;
    text-align: center;
    padding-top: 0.5em;
    
}

#perfil{

    width: 196px;
    height: 25em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    align-items: center;
}

#perfil img{
    border-radius: 100%;
    width: 215px;
    height: 215px;
    
    align-items: center;
}

#sobre p{ 
    display: flex;
    width: 700px;
    height: 300px;
    font-size: 25px;
    padding-left: 15px;
    align-items: center;
    color: #000;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

#redes-sociais-sobre{
    width: 700px;
    display: flex;
    
}

#sobre img{

    width: 45px;
    height: 45px;
    padding-left: 15px;
}


/*Fim sobre*/

/*Inicio Tecnologias*/

#tecnologia{
    background: #222426;
    height: 600px;
    text-align: center;
    width: 1020px;
}

#tecnologia h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 50px ;
   padding-top: 50px;
}

#imagem-tecologias{   
    display: flex;
    width: 1020px;
    height: 304px;
    align-items: center;
    justify-content: center;
    gap: 75px 85px;
    flex-wrap: wrap;
    padding-left: 1.5em;
}


#imagem-tecologias img{
    width: 100px;
    height: 100px;
}

/*Fim tecnologias*/

/*Inicio Porfolio*/
#trabalhos{
    width: 1020px;
}
#trabalhos h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.repositorios{
    width:256px;
    height: 252px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    border-color: #374957;
}

#img-portfolio{
    width: 222px;
    padding-left: 15px;
    padding-top: 10px;
}
.titulo-icone img,p{
   display: inline-block;
   justify-content: flex-start;
    color: #000;
    
}

.titulo-icone p{
    width: 110px;
}

.titulo-icone{
    padding-top: 5px;
}

#textos-portfolio{
    padding-left: 15px;
    padding-top: 10px;
}


#list-repositorios{
    display: flex;
    width: 1020px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 70px 210px;
    flex-wrap:wrap-reverse;
}
/*Fim do porfolio*/


/*Inicio Footer*/

footer{
    width: 1020px;
    margin-top: 50px;
    background: #222426;
    display: flex;
    justify-content: center;

}


#contato{

    width: 280px;
    padding-left: 4em;
    padding-bottom: 4em;
    padding-right: 4em;
    text-align: center;  
}



#contato h2{
    width: 200px;
    padding-bottom: 55px;
    padding-top: 55px;
    color: #FEF4F4;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
}

#contato a{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
#redes-sociais{
    margin-left: 20px;

}

#redes-sociais h2{
    padding-top: 55px;
    width: 600px;
    color: #FEF4F4;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
   text-align: center;
   padding-bottom: 50px;
}

#redes-sociais a img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
   
}

#contato a:link{
    color: #FEF4F4;
    text-decoration: none;
}
a:visited{
    color: #FEF4F4;
    text-decoration: none;
}
/*Fim footer*/