.start{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;
}

.start__section{
    width: 30em;
}

.start__section-h1{
    font-size: 3em;
    font-weight: 700;
    font-style: normal;
    color: var(--color-primary);
    
}

.start__img{
    width: 20em;
}

.start__link{
    display: flex;
    align-items: center;
    margin-top: 3em;
}

