.footer{
    background-color: #473930;
    color: #EDEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer__texto{
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    font-weight: 700;
    font-style: normal;
}
.footer__img{
    width: 1.5em;
    margin-right: 1em;
}

/*Modelo Tables*/
@media screen and (max-width: 1023px){
    .footer__texto{
        margin: 0.5em 0;
        font-size: 0.8em;
    }
    .footer__img{
        width: 1.8em;
        margin-right: 1em;
    }
    
}

/*Modelo Dispositivo Móvel*/
@media screen and (max-width: 767px){
    .footer__texto{
        margin: 0.5em 0;
        font-size: 0.7em;
    }
    .footer__img{
        width: 1.8em;
        margin-right: 0.5em;
    }   
}