.card__projetos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8em;
    height: 20em;
    border-radius: 1em;
    padding: 2em;
    margin-top: 3em;
    border: 0.3em solid rgba(154, 159, 165, 0.5);
}

.card__projetos-img{
    width: 20em;
    height: 15em;
    border-radius: 0.4em;
}

.card__section{
    width: 45em;
    text-align: start;
    margin-left: 2em;
}

.card__section-titulo{
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
}
.card__section-texto{
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
    margin-top: 1em;
}

.card__section-img img{
    width: 3em;
    margin: 1em 1em 1em 0;
}
.card__section-button{
    display: flex;
}