.text__bold{
    font-weight: 700;
    font-style: normal;
    color: var(--color-primary);
}

.text__size-low{
    font-size: 1.5em;
}

.text__size-high{
    font-size: 3em;
}
.color__ponto{
    color:#3E608C;
    font-size: 1.1em;
}

/*Modelo Tables*/
@media screen and (max-width: 1023px){
    
    .text__size-low{
        font-size: 1.3em;
    }
    
    .text__size-high{
        font-size: 2.3em;
    }
    .color__ponto{
        font-size: 1em;
    }

   
}

/*Modelo Dispositivo Móvel*/
@media screen and (max-width: 767px){
        
    .text__size-low{
        font-size: 0.9em;
    }
    
    .text__size-high{
        font-size: 1.5em;
    }
    .color__ponto{
        font-size: 1em;
    }

   
    
}